@font-face {
    font-family: wetPaint;
    src: url(./fonts/Oswald-VariableFont_wght.ttf);
}

:root {
    --bg-color: black;
    --text-color: white;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
}

html,
body {
    background: black;
    color: var(--light-text-color);
    font-family: wetPaint, Arial, Helvetica, sans-serif;
}

#grid {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-rows: 1fr 3fr 1fr;
    height: 100vh;
}

#header {
    width: 50vw;
    height: 20vh;
    margin-top: 1%;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 50% 50% 0 0;
    background: lightgray;
    border: 5px solid rebeccapurple;
}

#title {
    font-size: 5rem;
}

#gameBoard {
    border: 3px solid rebeccapurple;
    height: 50vh;
    width: 50vw;
    background: lightgray;
    /* border: 5px solid rebeccapurple; */

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
}

#gameBoard > div {
    width: 100%;
    height: 100%;
    border: 3px solid rebeccapurple;
    font-size: 5rem;

    display: grid;
    place-items: center;
}

#gameBoard>div:hover {
    background: gray;
    cursor: pointer;
}

#footerOutline {
    width: 50vw;
    height: 20vh;
    margin-bottom: 1%;

    border-radius: 0 0 50% 50%;
    background: lightgray;
    border: 5px solid rebeccapurple;
}

#footerGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    margin-top: 5px;

    position: relative;
}

#playerOneContainer,
#tieContainer,
#playerTwoContainer {
    width: 70%;
    height: 100%;
    text-align: center;

    display: block;

    background-color: black;
    color: white;
    border-radius: 10%;
}

#resetContainer {
    grid-column-start: 2;
    width: 70%;
    margin-top: 5px;
}

#rematch {
    width: 100%;
    background-color: lightgreen;
    cursor: pointer;
    height: 100%;
}

#reset {
    width: 100%;
    background: red;
    cursor: pointer;
}

#reset:hover {
    transform: scale(1.01);
}

#start-Popup {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 50vh;
    width: 50vw;
    margin-left: -25vw;
    margin-top: -25vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    font-size: 5rem;
    background-color: rebeccapurple;
}

#start-Button {
    width: 50%;
    height: 100%;
    border-radius: 5%;
    outline: none;
    background-color: green;
    font-size: 3rem;
    align-self: center;
}

#start-Button:hover {
    cursor: pointer;
}

.hide {
    visibility: hidden;
}

#myForm {
    display: flex;
    flex-direction: column;
}

#options {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(2, minmax(30px, auto));
    font-size: 2rem;
    gap: 5px;
    margin: 5%;
}